$primary-cyan: hsl(172, 67%, 45%);

$neutral-backgrounds: hsl(183, 100%, 15%);
$background-selected: hsl(186, 14%, 43%);
$font-dark: hsl(184, 14%, 56%);
$font-light: hsl(185, 41%, 84%);
$calc-background: hsl(189, 41%, 97%);

$mobile: 450px;
$desktop: 1000px;